#Cadastro .box-card-cadastro {
  zoom: 90%;
  width: 50%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 20px 25px;
}
@media (max-width: 767px) {
  #Cadastro .box-card-cadastro {
    width: 100%;
  }
}
#Cadastro .box-card-cadastro .cabecalho .titulo {
  text-align: center;
  color: #707070;
  font-size: 32px;
}
#Cadastro .box-card-cadastro .conteudo .box-acoes .entrar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
#Cadastro .box-card-cadastro .conteudo .box-acoes .entrar .btn-entrar {
  width: 200px;
}